*{
    margin: 0;
    padding: 0;
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-produtos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-infos-consumidor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}